<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>.env.example - whistleblower - Unnamed repository; edit this file &#39;description&#39; to name the repository.
</title>
<link rel="icon" type="image/png" href="../favicon.png" />
<link rel="alternate" type="application/atom+xml" title="whistleblower.git Atom Feed" href="../atom.xml" />
<link rel="alternate" type="application/atom+xml" title="whistleblower.git Atom Feed (tags)" href="../tags.xml" />
<link rel="stylesheet" type="text/css" href="../style.css" />
</head>
<body>
<table><tr><td><a href="../../"><img src="../logo.png" alt="" width="32" height="32" /></a></td><td><h1>whistleblower</h1><span class="desc">Unnamed repository; edit this file &#39;description&#39; to name the repository.
</span></td></tr><tr><td></td><td>
<a href="../log.html">Log</a> | <a href="../files.html">Files</a> | <a href="../refs.html">Refs</a> | <a href="../file/README.md.html">README</a> | <a href="../file/LICENSE.html">LICENSE</a></td></tr></table>
<hr/>
<div id="content">
<p> .env.example (1099B)</p><hr/><pre id="blob">
<a href="#l1" class="line" id="l1">      1</a> APP_NAME=Laravel
<a href="#l2" class="line" id="l2">      2</a> APP_ENV=local
<a href="#l3" class="line" id="l3">      3</a> APP_KEY=
<a href="#l4" class="line" id="l4">      4</a> APP_DEBUG=true
<a href="#l5" class="line" id="l5">      5</a> APP_TIMEZONE=UTC
<a href="#l6" class="line" id="l6">      6</a> APP_URL=http://localhost
<a href="#l7" class="line" id="l7">      7</a> 
<a href="#l8" class="line" id="l8">      8</a> APP_LOCALE=en
<a href="#l9" class="line" id="l9">      9</a> APP_FALLBACK_LOCALE=en
<a href="#l10" class="line" id="l10">     10</a> APP_FAKER_LOCALE=en_US
<a href="#l11" class="line" id="l11">     11</a> 
<a href="#l12" class="line" id="l12">     12</a> APP_MAINTENANCE_DRIVER=file
<a href="#l13" class="line" id="l13">     13</a> # APP_MAINTENANCE_STORE=database
<a href="#l14" class="line" id="l14">     14</a> 
<a href="#l15" class="line" id="l15">     15</a> PHP_CLI_SERVER_WORKERS=4
<a href="#l16" class="line" id="l16">     16</a> 
<a href="#l17" class="line" id="l17">     17</a> BCRYPT_ROUNDS=12
<a href="#l18" class="line" id="l18">     18</a> 
<a href="#l19" class="line" id="l19">     19</a> LOG_CHANNEL=stack
<a href="#l20" class="line" id="l20">     20</a> LOG_STACK=single
<a href="#l21" class="line" id="l21">     21</a> LOG_DEPRECATIONS_CHANNEL=null
<a href="#l22" class="line" id="l22">     22</a> LOG_LEVEL=debug
<a href="#l23" class="line" id="l23">     23</a> 
<a href="#l24" class="line" id="l24">     24</a> DB_CONNECTION=sqlite
<a href="#l25" class="line" id="l25">     25</a> # DB_HOST=127.0.0.1
<a href="#l26" class="line" id="l26">     26</a> # DB_PORT=3306
<a href="#l27" class="line" id="l27">     27</a> # DB_DATABASE=laravel
<a href="#l28" class="line" id="l28">     28</a> # DB_USERNAME=root
<a href="#l29" class="line" id="l29">     29</a> # DB_PASSWORD=
<a href="#l30" class="line" id="l30">     30</a> 
<a href="#l31" class="line" id="l31">     31</a> SESSION_DRIVER=database
<a href="#l32" class="line" id="l32">     32</a> SESSION_LIFETIME=120
<a href="#l33" class="line" id="l33">     33</a> SESSION_ENCRYPT=false
<a href="#l34" class="line" id="l34">     34</a> SESSION_PATH=/
<a href="#l35" class="line" id="l35">     35</a> SESSION_DOMAIN=null
<a href="#l36" class="line" id="l36">     36</a> 
<a href="#l37" class="line" id="l37">     37</a> BROADCAST_CONNECTION=log
<a href="#l38" class="line" id="l38">     38</a> FILESYSTEM_DISK=local
<a href="#l39" class="line" id="l39">     39</a> QUEUE_CONNECTION=database
<a href="#l40" class="line" id="l40">     40</a> 
<a href="#l41" class="line" id="l41">     41</a> CACHE_STORE=database
<a href="#l42" class="line" id="l42">     42</a> CACHE_PREFIX=
<a href="#l43" class="line" id="l43">     43</a> 
<a href="#l44" class="line" id="l44">     44</a> MEMCACHED_HOST=127.0.0.1
<a href="#l45" class="line" id="l45">     45</a> 
<a href="#l46" class="line" id="l46">     46</a> REDIS_CLIENT=phpredis
<a href="#l47" class="line" id="l47">     47</a> REDIS_HOST=127.0.0.1
<a href="#l48" class="line" id="l48">     48</a> REDIS_PASSWORD=null
<a href="#l49" class="line" id="l49">     49</a> REDIS_PORT=6379
<a href="#l50" class="line" id="l50">     50</a> 
<a href="#l51" class="line" id="l51">     51</a> MAIL_MAILER=log
<a href="#l52" class="line" id="l52">     52</a> MAIL_SCHEME=null
<a href="#l53" class="line" id="l53">     53</a> MAIL_HOST=127.0.0.1
<a href="#l54" class="line" id="l54">     54</a> MAIL_PORT=2525
<a href="#l55" class="line" id="l55">     55</a> MAIL_USERNAME=null
<a href="#l56" class="line" id="l56">     56</a> MAIL_PASSWORD=null
<a href="#l57" class="line" id="l57">     57</a> MAIL_FROM_ADDRESS=&quot;hello@example.com&quot;
<a href="#l58" class="line" id="l58">     58</a> MAIL_FROM_NAME=&quot;${APP_NAME}&quot;
<a href="#l59" class="line" id="l59">     59</a> 
<a href="#l60" class="line" id="l60">     60</a> AWS_ACCESS_KEY_ID=
<a href="#l61" class="line" id="l61">     61</a> AWS_SECRET_ACCESS_KEY=
<a href="#l62" class="line" id="l62">     62</a> AWS_DEFAULT_REGION=us-east-1
<a href="#l63" class="line" id="l63">     63</a> AWS_BUCKET=
<a href="#l64" class="line" id="l64">     64</a> AWS_USE_PATH_STYLE_ENDPOINT=false
<a href="#l65" class="line" id="l65">     65</a> 
<a href="#l66" class="line" id="l66">     66</a> VITE_APP_NAME=&quot;${APP_NAME}&quot;
</pre>
</div>
</body>
</html>
