<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>verify-email.blade.php - whistleblower - whistleblower
</title>
<link rel="icon" type="image/png" href="../../../../favicon.png" />
<link rel="alternate" type="application/atom+xml" title="whistleblower.git Atom Feed" href="../../../../atom.xml" />
<link rel="alternate" type="application/atom+xml" title="whistleblower.git Atom Feed (tags)" href="../../../../tags.xml" />
<link rel="stylesheet" type="text/css" href="../../../../style.css" />
</head>
<body>
<table><tr><td><a href="../../../../../"><img src="../../../../logo.png" alt="" width="32" height="32" /></a></td><td><h1>whistleblower</h1><span class="desc">whistleblower
</span></td></tr><tr><td></td><td>
<a href="../../../../log.html">Log</a> | <a href="../../../../files.html">Files</a> | <a href="../../../../refs.html">Refs</a> | <a href="../../../../file/README.md.html">README</a> | <a href="../../../../file/LICENSE.html">LICENSE</a></td></tr></table>
<hr/>
<div id="content">
<p> verify-email.blade.php (1361B)</p><hr/><pre id="blob">
<a href="#l1" class="line" id="l1">      1</a> &lt;x-guest-layout&gt;
<a href="#l2" class="line" id="l2">      2</a>     &lt;div class=&quot;mb-4 text-sm text-gray-600 dark:text-gray-400&quot;&gt;
<a href="#l3" class="line" id="l3">      3</a>         {{ __(&#39;Thanks for signing up! Before getting started, could you verify your email address by clicking on the link we just emailed to you? If you didn\&#39;t receive the email, we will gladly send you another.&#39;) }}
<a href="#l4" class="line" id="l4">      4</a>     &lt;/div&gt;
<a href="#l5" class="line" id="l5">      5</a> 
<a href="#l6" class="line" id="l6">      6</a>     @if (session(&#39;status&#39;) == &#39;verification-link-sent&#39;)
<a href="#l7" class="line" id="l7">      7</a>         &lt;div class=&quot;mb-4 font-medium text-sm text-green-600 dark:text-green-400&quot;&gt;
<a href="#l8" class="line" id="l8">      8</a>             {{ __(&#39;A new verification link has been sent to the email address you provided during registration.&#39;) }}
<a href="#l9" class="line" id="l9">      9</a>         &lt;/div&gt;
<a href="#l10" class="line" id="l10">     10</a>     @endif
<a href="#l11" class="line" id="l11">     11</a> 
<a href="#l12" class="line" id="l12">     12</a>     &lt;div class=&quot;mt-4 flex items-center justify-between&quot;&gt;
<a href="#l13" class="line" id="l13">     13</a>         &lt;form method=&quot;POST&quot; action=&quot;{{ route(&#39;verification.send&#39;) }}&quot;&gt;
<a href="#l14" class="line" id="l14">     14</a>             @csrf
<a href="#l15" class="line" id="l15">     15</a> 
<a href="#l16" class="line" id="l16">     16</a>             &lt;div&gt;
<a href="#l17" class="line" id="l17">     17</a>                 &lt;x-primary-button&gt;
<a href="#l18" class="line" id="l18">     18</a>                     {{ __(&#39;Resend Verification Email&#39;) }}
<a href="#l19" class="line" id="l19">     19</a>                 &lt;/x-primary-button&gt;
<a href="#l20" class="line" id="l20">     20</a>             &lt;/div&gt;
<a href="#l21" class="line" id="l21">     21</a>         &lt;/form&gt;
<a href="#l22" class="line" id="l22">     22</a> 
<a href="#l23" class="line" id="l23">     23</a>         &lt;form method=&quot;POST&quot; action=&quot;{{ route(&#39;logout&#39;) }}&quot;&gt;
<a href="#l24" class="line" id="l24">     24</a>             @csrf
<a href="#l25" class="line" id="l25">     25</a> 
<a href="#l26" class="line" id="l26">     26</a>             &lt;button type=&quot;submit&quot; class=&quot;underline text-sm text-gray-600 dark:text-gray-400 hover:text-gray-900 dark:hover:text-gray-100 rounded-md focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 dark:focus:ring-offset-gray-800&quot;&gt;
<a href="#l27" class="line" id="l27">     27</a>                 {{ __(&#39;Log Out&#39;) }}
<a href="#l28" class="line" id="l28">     28</a>             &lt;/button&gt;
<a href="#l29" class="line" id="l29">     29</a>         &lt;/form&gt;
<a href="#l30" class="line" id="l30">     30</a>     &lt;/div&gt;
<a href="#l31" class="line" id="l31">     31</a> &lt;/x-guest-layout&gt;
</pre>
</div>
</body>
</html>
